<header>
	<div class="row">
		<span class="header-item game-start">Started @ {{model.createdAt}}</span>
		<span class="header-item game-round">ROUND: {{model.round}}</span>
		<span class="header-item settings" uib-dropdown>
			<button id="dropdown-settings" class="btn btn-default btn-dropdown" type="button" uib-dropdown-toggle>
				<i class="icon icon-settings glyphicon glyphicon-cog"></i>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-settings" ng-click="gameCtrl.onSettingClick($event)">
				<li role="menuitem">
					<a href="#" data-setting="toggle-sound">
						<i class="icon icon-mute glyphicon"
							ng-class="{
								'glyphicon-volume-off': gameCtrl.isSoundEnabled,
								'glyphicon-volume-down': !gameCtrl.isSoundEnabled
							}">
						</i>
						<span ng-if="gameCtrl.isSoundEnabled">Disable Sounds</span>
						<span ng-if="!gameCtrl.isSoundEnabled">Enable Sounds</span>
					</a>
				</li>
			</ul>
		</span>
	</div>
</header>
<canvas ng-if="model.actionCard && model.actionCard.name === 'winter'" class="winter-snow"></canvas>
<div class="row">
	<div class="col-sm-12">
		<div class="play-area">
			<deck type="{{::deck.deckType}}" deck-id="{{::deck.id}}" ng-repeat="deck in gameCtrl.getDecks()" game="model"></deck>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<players game="model"></players>
		<span
			ng-if="model.actionCard"
			ng-init="card = model.actionCard"
			ng-class="{ instant: model.instantAction || card.name === 'winter' }"
			class="action-card">
			<span class="card blank--"></span>
			<card card-id="{{card.id}}" card-type="action"></card>
		</span>
	</div>
</div>
<div class="game-buttons">
	<button
		class="btn btn-primary new-game"
		ng-click="gameCtrl.create()"
		ng-show="!gameCtrl.isGameStarted() && playersModel.players.length >= 2">
		New Game
	</button>
</div>

<div class="admin-options" ng-show="gameCtrl.isAdmin" uib-dropdown>
	<button id="dropdown-options" type="button" class="btn btn-default" uib-dropdown-toggle>
		Option<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-options" ng-click="gameCtrl.onAdminOption($event)">
		<li role="menuitem"><a href="#" data-option="reset-game">Reset Game</a></li>
		<li role="menuitem"><a href="#" data-option="reset-hoard-cards">Reset Hoard Cards</a></li>
		<li role="menuitem"><a href="#" data-option="reset-player-cards">Reset Player Cards</a></li>
		<li role="menuitem"><a href="#" data-option="skip-player">Skip Player</a></li>
	</ul>
</div>
