header {
	background-color: get-color('kenyan-copper');

	background-image: //linear-gradient(90deg, #551c07 50%, transparent 50%),
		linear-gradient(94deg, rgba(91, 33, 5, .1) 0%, rgba(83, 29, 4, .32) 23%, rgba(74, 24, 3, .41) 47%, rgba(80, 27, 5, .44) 70%, rgba(81, 27, 5, .59) 74%, rgba(93, 33, 4, .2) 83%, rgba(115, 43, 3, .5) 100%),
			linear-gradient(90deg, get-color('cioccolato') 50%, transparent 50%),
			linear-gradient(90deg, get-color('red-beech') 50%, get-color('carnaby-tan') 50%),
		;

	background-size: 40px 160px, 60px 29px, 27px 27px;
	color: get-color(white);
	height: 4rem;
	line-height: 1.25;
	padding: 1rem;
}

.play-area {
	@include clearfix;

	display: flex;
	flex-direction: columns;
	margin-bottom: 1.5rem;
	margin-top: 2.5rem;
	padding: 1rem;
}

.action-card {
	@extend %playing-cards;

	left: 40%;
	position: absolute !important;
	top: 5%;
	transform: scale(2);

	.card {
		animation-fill-mode: forwards;
		backface-visibility: hidden;

		&.blank-- {
			animation-duration: 4s;
			animation-name: spin;
			animation-timing-function: linear;
		}
	}

	[card-type='action'] {
		.card {
			animation-delay: 3s;
			animation-duration: 1s;
			animation-name: spin-reverse;
			animation-timing-function: ease-out;
			transform: rotateY(-90deg);
		}
	}
}
