<header>
	<span>Started at {{model.game.createdAt}}</span>
	<span>Round: {{model.game.round}}</span>
</header>
<div class="row">
	<div class="col-sm-12">
		<div class="play-area" ng-if="model.isGameStarted">
			<div class="row">
				<deck type="{{::deck.deckType}}" deck-id="{{::deck.id}}" ng-repeat="deck in gameCtrl.getDecks()"></deck>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<players game="model.game"></players>
	</div>
</div>
<button
	class="btn btn-primary new-game"
	ng-click="gameCtrl.create()"
	ng-show="!model.isGameStarted && playersModel.players.length >= 2">
	New Game
</button>
<button
	class="btn btn-warning new-game"
	ng-click="gameCtrl.reset()"
	ng-show="false">
	RESET
</button>
