$card-height: 270;
$card-width: 200;
$num-cards: 14;

%playing-cards {
	height: rem-calc($card-height);
	position: relative;
	width: rem-calc($card-width);

	.card {
		@include user-select(none);

		background-image: url('../images/card-back.jpg');
		background-repeat: no-repeat;
		color: get-color(white);
		display: block;
		font-size: 4rem;
		height: 100%;
		outline: none;

		&:focus {
			outline: none;
		}
	}

	[role="button"] {
		display: block;
		height: 100%;
	}
}
