$card-height: 270;
$card-width: 200;
$num-cards: 14;

$card-images: (
	'blank--',
	'number--1',
	'number--2',
	'number--3',
	'number--4',
	'number--5',
	'action--ambush',
	'action--communism',
	'action--hoard',
	'action--quarrel',
	'action--whirlwind',
	'action--winter',
	'special--golden',
	'special--rotten'
);

@mixin generate-cards {
	@each $name in $card-images {
		&.#{$name} {
			background-image: url('../images/#{$name}.png');
		}
	}
}

%playing-cards {
	height: rem-calc($card-height);
	position: relative;
	width: rem-calc($card-width);

	.card {
		@include generate-cards;

		background-repeat: no-repeat;
		background-size: 125px 168px; // FIXME
		color: get-color(white);
		display: block;
		font-size: 4rem;
		height: 100%;
		outline: none;

		&:focus {
			outline: none;
		}
	}

	[role='button'] {
		display: block;
		height: 100%;
	}
}
