{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true,
		"node": true
	},
	"globals": {
		"angular": true,
		"moment": true,
		"_": true
	},
	"rules": {
		"eol-last": ["error", "always"],
		"indent": ["error", "tab", { "SwitchCase": 1 }],
		"quotes": ["error", "single"],
		"max-len": ["warn", {
			"code": 90
		}],
		"no-mixed-requires": ["off"],
		"no-warning-comments": ["warn", { "terms": ["todo", "fixme"], "location": "start" }],
		"no-underscore-dangle": ["off"]
	},
	"parserOptions": {
		"sourceType": "module"
	}
}
