* {
	@include user-select(none);
}

a {
	&.disabled {
		cursor: default;
		pointer-events: none;
	}
}

.icon {
	display: inline-block;
	line-height: 1;
	position: relative;
	top: 1px;
}

.main {
    -webkit-backface-visibility: hidden;
	// animation: gradient 30s linear infinite;
	background: linear-gradient(320deg, get-color(carnaby-tan), get-color(cioccolato), get-color(kenyan-copper), get-color(carnaby-tan));
	// background-size: 600% 600%;
	height: 99vh;
	transform: translateZ(0);
}

.ui-view-container {
	position: relative;
}

[ui-view] {
	&.ng-enter,
	&.ng-leave {
		position: absolute;
		transition: opacity .5s ease-in-out;
		width: 100%;
	}

	&.ng-enter,
	&.ng-leave-active {
		opacity: 0;
	}

	&.ng-enter-active {
		opacity: 1;
	}
}
