<div class="sq-player" ng-init="player = playerCtrl.player;"
	ng-class="{
		active: player.isActive,
		current: playerCtrl.isCurrentPlayer()
	}">
	<div class="sq-player-thumbnail">
		<img class="img-circle" ng-src="{{player.img}}"/>
		<span class="sq-player-card-count">{{player.totalCards}}</span>
	</div>
	<div class="sq-player-info">
		<div class="sq-player-name">{{player.name}}</div>
		<a
			href="#"
			class="sq-player-info-item sq-player-storage"
			title="View or Store Nuts"
			ng-click="playerCtrl.onStorageClick($event)"
		>
			<i class="icon icon-tree glyphicon glyphicon-tree-deciduous"></i>
			<span class="sq-player-score">{{player.score}}</span>
		</a>
		<a
			href="#"
			class="sq-player-info-item sq-player-storage-auto"
			title="Auto Storage of Nuts"
			ng-click="playerCtrl.onStorageAutoClick($event)"
			ng-class="{ disabled: !player.isActive }"
			ng-if="playerCtrl.isCurrentPlayer()"
		>
			<i class="icon icon-storage-auto glyphicon glyphicon-download-alt"></i>
		</a>
		<div
			class="sq-player-quarrel animated"
			ng-if="player.quarrel"
			ng-class="{
				flip: player.showQuarrel,
				winner: player.isQuarrelWinner
			}">
			<span class="card blank--"></span>
			<card
				card-id="{{::player.quarrel.id}}"
				card-type="quarrel"
				ng-if="player.showQuarrel"
			></card>
		</div>
	</div>
	<div ng-if="playerCtrl.isCurrentPlayer()" ng-init="pModel = playerCtrl.getCurrentPlayer();" class="sq-player-cards">
		<div class="cards-group hand" ng-if="pModel.cardsInHand.length">
			<div ng-if="pModel.message" class="message">{{pModel.message}}</div>
			<card
				class="animated"
				ng-class="{ mine: pModel.cardsInHand.length}"
				ng-repeat="card in pModel.cardsInHand | orderBy: card.amount"
				card-id="{{::card}}"
				card-type="hand"
				game="playerCtrl.game"
				player="pModel"
			></card>
		</div>
		<div ng-if="!pModel.cardsInHand.length" class="empty"></div>
	</div>
</div>
