@import '../card/card';

@keyframes lightSpeedIn {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0) skewX(30deg);
		transform: translate3d(100%, 0, 0) skewX(30deg);
		transform: translate3d(100%, 0, 0) skewX(30deg);
	}

	100% {
		opacity: 1;
	}
}

.sq-player {
	@include clearfix;

	float: left;
	margin-bottom: 2rem;
	position: relative;
	text-align: center;

	&.current {
		float: none;

		card {
			top: 0;

			&.selected {
				top: -2rem;

				.card {
					border: 2px solid get-color('zest');
					border-radius: .75rem;
				}
			}
		}

		.sq-player-info {
		}
	}

	&.active {
		.sq-player-info {
			color: get-color('mandy');
			font-weight: $font-weight-bold;
		}
	}

	.sq-player-thumbnail {
		float: left;

		img {
			width: 10rem;
		}
	}

	.sq-player-info {
		@include clearfix;
		float: left;

		.sq-player-total-cards,
		.sq-player-storage {
			position: relative;
		}

		.sq-player-total-cards {
			display: inline-block;
			font-size: 2rem;

			.card {
				height: 5rem;
				position: relative;
				width: 4rem;
			}

			.sq-player-card-count {
				@include center-horizontal;

				color: get-color(white);
				position: absolute;
				top: 0;
			}
		}

		.sq-player-storage {
			font-size: 5rem;

			.sq-player-score {
				@include center-horizontal;
				color: get-color('carnaby-tan');
				font-size: 2.25rem;
				line-height: 2.25;
				top: 0;
			}
		}
	}

	.sq-player-cards {
		@include clearfix;

		float: left;

		.cards-group {
			@extend %playing-cards;

			card {
				float: left;
				position: relative;
				width: rem-calc($card-width-stack);

				&.mine {
					animation: .5s linear grow;
				}
			}
		}
	}
}
