<div class="sq-player" ng-init="pModel = playerCtrl.getCurrentPlayer(); player = playerCtrl.player; isCurrent = player.id === pModel.id"
	ng-class="{
		'active': player.isActive,
		'current': isCurrent
	}">
	<div class="sq-player-thumbnail">
		<img class="img-circle" ng-src="{{player.img}}"/>
	</div>
	<div class="sq-player-info">
		<div class="sq-player-name">{{player.name}}</div>
		<span class="sq-player-total-cards">
			<i class="icon icon-card card blank--"></i>
			<span class="sq-player-card-count">{{player.totalCards}}</span>
		</span>
		<span class="sq-player-storage" ng-click="playerCtrl.onStorageClick($event)">
			<i class="icon icon-tree glyphicon glyphicon-tree-deciduous"></i>
			<span class="sq-player-score">{{player.score}}</span>
		</span>
	</div>
	<div class="sq-player-cards">
		<div class="cards-group hand">
			<card
				ng-animate="animate"
				ng-class="{ mine: isCurrent && player.cardsInHand.length}"
				ng-repeat="card in player.cardsInHand"
				ng-show="isCurrent && player.cardsInHand.length"
				card-id="{{::card}}"
				card-type="hand"
				player="player"
			></card>
			<!-- <card
				ng-show="!isCurrent && player.totalCards"
				ng-repeat="n in playerCtrl._.range(0, player.totalCards)"
				card-id="{{null}}"
				card-type="hand"
				player="player">
			</card> -->
		</div>
		<div class="action-card" ng-show="player.actionCard && true">
			<card
				card-id="{{null}}"
				card-type="blank"
				player="player">
			</card>
			<card
				card-id="{{player.actionCard.id}}"
				card-type="action"
				player="player">
			</card>
		</div>
	</div>
</div>
