@import '../card/card';

.sq-player {
	margin-bottom: 2rem;
	position: relative;
	text-align: center;

	&.current {
		card {
			top: 0;

			&.selected {
				top: -2rem;

				.card {
					border: 2px solid get-color('zest');
					border-radius: .75rem;
				}
			}
		}

		.sq-player-info {
			color: get-color(gold);
		}
	}

	&.active {
		.sq-player-info {
			color: get-color(mandy);
			font-weight: $font-weight-bold;
		}
	}

	.sq-player-thumbnail {
		img {
			width: 10rem;
		}
	}

	.sq-player-info {
		@include clearfix;
		left: -50%;
		position: relative;

		.sq-player-name,
		.sq-player-storage {
			left: 50%;
			position: relative;
		}

		.sq-player-storage {
			font-size: 5rem;

			.sq-player-score {
				@include center-horizontal;
				color: get-color('carnaby-tan');
				font-size: 2.25rem;
				line-height: 2.25;
				top: 0;
			}
		}
	}

	.sq-player-cards {
		@include clearfix;

		.cards-group {
			@extend %playing-cards;

			float: left;
			width: 80%; // Account for reduced size of 'card' element

			card {
				float: left;
				position: relative;
				width: rem-calc($card-width-stack);
			}
		}

		.action-card {
			@extend %playing-cards;

			position: absolute;
		}
	}
}
