@import '../cards/cards';

.card-deck {
	@extend %playing-cards;

	float: left;
	width: rem-calc($card-width);

	&.hoard {
		border: 1px dashed get-color(black);
	}

	.card {
		background-image: url('../images/card-back.jpg');
		border: 0;
	}
}
