@import '../card/card';

deck {
	&[type='main'] {
		@include make-xs-column(3);
	}

	&[type='discard'] {
		@include make-xs-column(4);

		border: 1px dashed get-color(black);

		.deck {
			border: 2px dashed transparent;
			width: auto;

			&.drag-enter {
				border-color: get-color('zest');
			}

			.card {
				$rotate: 0;

				@for $i from 1 through 20 {
					&:nth-child(#{$i}) {
						transform: rotate(#{$rotate}deg);
					}

					$rotate: $rotate + 5;
				}
			}
		}
	}

	.deck {
		@extend %playing-cards;

		display: block;
		margin: 0 auto;
		text-align: center;

		.count {
			@include center-horizontal;

			font-size: 4rem;
			z-index: 1;
		}
	}
}
