<div
	class="deck"
	ng-init="isDiscard = deckCtrl.type === 'discard'"
	ng-attr-ng-drop="{{isDiscard}}"
	ng-drop-success="deckCtrl.onDropComplete($data, $event)"
>
	<div class="count">{{deckCtrl.getTotalCards()}}</div>
	<a
		href="#"
		role="button"
		ng-class="{ disabled: deckCtrl.isDisabled() }"
		ng-click="!deckCtrl.isDisabled() && deckCtrl.onClick()"
		ng-show="deckCtrl.getTotalCards()"
	>
		<span ng-repeat="card in deckCtrl.getDeck().cards | limitTo: deckCtrl.cardLimit()" class="card blank--"></span>
	</a>
</div>
