<div class="count" ng-hide="deckCtrl.type === 'action'">{{deckCtrl.getTotalCards()}}</div>
<div
	class="deck"
	ng-class="{
		'draw-card': deckCtrl.type === 'main' && deckCtrl.canDraw()
	}"
	ng-init="isDiscard = deckCtrl.type === 'discard'"
	ng-attr-ng-drop="{{isDiscard}}"
	ng-drop-success="deckCtrl.onDropComplete($data, $event)"
>
	<a
		class="cards-group"
		href=""
		role="button"
		ng-class="{ disabled: deckCtrl.isDisabled() }"
		ng-mousedown="!deckCtrl.isDisabled() && deckCtrl.onClick(); $event.preventDefault()"
		ng-show="deckCtrl.getTotalCards()"
	>
		<span
			ng-class="deckCtrl.type === 'action' ? 'action--{{card.name}}' : 'blank--'"
			ng-repeat="card in deckCtrl.getDeck().cards | limitTo: deckCtrl.cardLimit()"
			class="card"
		>
		</span>
	</a>
</div>
