<div
	class="deck"
	ng-class="{
		'draw-card': deckCtrl.type === 'main' && deckCtrl.canDraw()
	}"
	ng-init="isDiscard = deckCtrl.type === 'discard'"
	ng-attr-ng-drop="{{isDiscard}}"
	ng-drop-success="deckCtrl.onDropComplete($data, $event)"
>
	<div class="count" ng-hide="deckCtrl.type === 'action'">{{deckCtrl.getTotalCards()}}</div>
	<a
		class="cards-group"
		href="#"
		role="button"
		ng-class="{ disabled: deckCtrl.isDisabled() }"
		ng-click="!deckCtrl.isDisabled() && deckCtrl.onClick()"
		ng-show="deckCtrl.getTotalCards()"
	>
		<span
			ng-if="deckCtrl.type !== 'action'"
			class="card blank--"
			ng-repeat="card in deckCtrl.getDeck().cards | limitTo: deckCtrl.cardLimit()">
		</span>
		<span
			ng-if="deckCtrl.type === 'action'"
			ng-class="{ 'action-card': deckCtrl.type === 'action'}"
			ng-repeat="card in deckCtrl.getDeck().cards"
		>
			<span class="card blank--"></span>
			<card card-id="{{card.id}}" card-type="action"></card>
		</span>
	</a>
</div>
