@import '../card/card';

.card-deck {
	@extend %playing-cards;

	float: left;
	width: rem-calc($card-width);

	&.hoard {
		border: 1px dashed get-color(black);
		width: 100%;
	}

	.card {
		border: 0;
	}
}
