<div class="sq-players-wrapper">
	<form ng-show="!playerData.player && players.length !== 6" class="form-horizontal" name="playerForm">
		<div class="form-group form-group-md row">
			<div class="col-xs-12 col-sm-5">
				<input ng-model="pName"
						ng-maxlength="24"
						ng-minlength="3"
						class="form-control sq-input-player-name"
						name="pName"
						placeholder="Name"
						type="text"
						maxlength="24"/>
			</div>
			<div class="col-xs-12 col-sm-7">
				<button
					class="btn btn-primary"
					ng-click="playersCtrl.create({
						name: pName
					})">Join
				</button>
			</div>
		</div>
	</form>
	<!-- <webcam channel="webcam"></webcam> -->
	<div class="sq-players">
		<player
			ng-repeat="p in players | orderBy:'isCurrent':true"
			ng-class="{ current: 'isCurrent' }"
			game="playersCtrl.game"
			player="p"
		></player>
	</div>
</div>
