<div class="sq-players-wrapper">
	<webcam channel="webcam"></webcam>
	<ul class="sq-players">
		<player ng-repeat="p in model.players track by $index" player="p"></player>
	</ul>
	<button
		class="btn btn-primary"
		ng-show="!playerData.player && model.players.length !== 6"
		ng-click="playersCtrl.create()">Join
	</button>
	Total Players: {{model.players.length}}
	<button
		class="btn btn-secondary next-player"
		ng-click="playersCtrl.playersStore.nextPlayer()"
		ng-show="playerData.player.isActive"
		>Next Player</button>
</div>
