$card-height: 250;
$card-width: 200;
$num-cards: 7;

%playing-cards {
	height: rem-calc($card-height);
	position: relative;
	// width: rem-calc($card-width);
	width: auto;

	.card {
		border: 1px solid get-color(black);
		height: 100%;
		outline: none;
		position: absolute;
		width: rem-calc($card-width);
	}
}
