.modal-dialog {
	width: calc(100vw - 8rem);
}

storage-modal {
	.cards-group {
		@extend %playing-cards;

		float: left;
		height: rem-calc(map-get($card-height, 'medium'));
		width: 25%;

		card {
			$rotate: -10;
			$translate: 2.5;

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transform: rotate(#{$rotate}deg) translateX(#{$translate}rem);
				}

				$rotate: $rotate + 10;
				$translate: $translate + 2.5;
			}
		}
	}
}
