<li class="sq-player" ng-init="pModel = playerCtrl.playerModel.model; player = playerCtrl.player"
	ng-class="{
		'active': player.isActive,
		'current': player.isCurrent
	}">
	<span>{{player.name}}</span>
	<img ng-src="{{player.img}}"/>
	<div class="sq-player-cards" ng-show="playerCtrl.gameModel.isGameStarted">
		<div class="cards-group hand">
			<div class="card"
				ng-show="player.isCurrent && player.cardsInHand.length"
				ng-repeat="card in player.cardsInHand"
				ng-click="player.isActive">
			{{card}}
			</div>
			<div class="card blank"
				ng-show="!player.isCurrent && player.totalCards"
				ng-repeat="n in playerCtrl._.range(0, player.totalCards)">
				{{n}}
			</div>
		</div>
		<div class="cards-group storage">
			<div class="card"
				ng-show="card"
				ng-repeat="card in player.cardsInStorage"></div>
		</div>
	</div>
</li>
