@import '../../card/card';

.sq-player {
	position: relative;
	text-align: center;

	&.current {
		card {
			&:hover,
			&.selected {
				top: -25px;
			}

			&.selected {
				border: 2px solid get-color('zest');
				border-radius: .75rem;
			}
		}

		.sq-player-info {
			color: get-color(gold);
		}
	}

	&.active {
		.sq-player-info {
			color: get-color(mandy);
			font-weight: $font-weight-bold;
		}
	}

	.sq-player-info {
		@include clearfix;
		left: -50%;
		position: relative;

		.sq-player-name,
		.sq-player-storage {
			left: 50%;
			position: relative;
		}

		.sq-player-storage {
			font-size: 5rem;

			.icon {
			}

			.sq-player-score {
				@include center-horizontal;
				color: get-color('carnaby-tan');
				font-size: 2.25rem;
				line-height: 2.25;
			}
		}
	}

	.sq-player-cards {
		@include clearfix;

		.cards-group {
			@extend %playing-cards;

			float: left;
			width: 100%;

			card {
				$position: 0;

				@for $i from 0 through $num-cards {
					&:nth-child(#{$i}) {
						left: #{$position}px;
					}
					$position: $position + 40;
				}
			}
		}

		.action-card {
			@extend %playing-cards;

			position: absolute;
		}
	}
}
