@import '../../card/card';

.sq-player {
	position: relative;

	&.current {
		color: get-color(gold);
	}

	&.active {
		color: get-color(mandy);
		font-weight: $font-weight-bold;
	}

	.sq-player-cards {
		@include clearfix;

		.cards-group {
			@extend %playing-cards;

			float: left;
			width: 100%;

			&.ng-hide {
				display: none;
			}

			.card {
				background-color: get-color(white);
				$position: 0;

				@for $i from 0 through $num-cards {
					&:nth-child(#{$i}) {
						left: #{$position}px;
					}
					$position: $position + 25;
				}
			}

			&.hand {
				.card {
					&:hover {
						top: -25px;
					}
				}
			}

			&.storage {
				border: 2px dotted get-color(black);
				width: rem-calc($card-width);
			}
		}
	}
}
