@import '../../card/card';

.sq-player {
	position: relative;
	text-align: center;

	&.current {
		color: get-color(gold);

		card {
			&:hover,
			&.selected {
				top: -25px;
			}

			&.selected {
				border: 2px solid get-color('zest');
				border-radius: .75rem;
			}
		}
	}

	&.active {
		color: get-color(mandy);
		font-weight: $font-weight-bold;
	}

	.sq-player-info {
		@include clearfix;
		left: -50%;
		position: relative;

		.sq-player-name,
		.sq-player-storage {
			font-size: 2rem;
			left: 50%;
			position: relative;
		}
	}

	.sq-player-cards {
		@include clearfix;

		.cards-group {
			@extend %playing-cards;

			float: left;
			width: 100%;

			&.ng-hide {
				display: none;
			}

			card {
				height: 100%;
				position: absolute;
				width: rem-calc($card-width);

				$position: 0;

				@for $i from 0 through $num-cards {
					&:nth-child(#{$i}) {
						left: #{$position}px;
					}
					$position: $position + 40;
				}
			}
		}
	}
}
